html, body {
	background-color: #dddddd;
}

#container {
	width: 100vw;
	height: 100vh;
}

.main-button {
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background-color: #68AEF0;
	cursor: pointer;
	display: flex;
	justify-content : center;
	align-items: center;
	color: #ffffff;
	font-weight: lighter;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.child-button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
	color: #8898A5;
}

